{% extends "app/base.html" %}
{% load static %}
{% block title %}Registration{% endblock title%}


{% block main-content %}

<div class="main-register">
    <h2>Registration</h2>
    <hr>

    <form action="" method="post">
        {% csrf_token %}
        {% for fm in form %}
            {{ fm.labl_tag}} {{fm}}
        {% endfor %} 
        
        <button type="submit">Register</button>

        <small>Existing USer?<a href="{% url 'login' %}">Login Now</a></small>
    </form>
</div>

{% endblock main-content %}